$button-border-radius: 3px !default;
$button-fab-border-radius: 50% !default;

a.button,
.md-button {
  border-radius: $button-border-radius;

  &:not([disabled]) {
    &:hover {
      background-color: rgba(color($background, "500"), 0.2);
    }
    &.md-focused {
      background-color: rgba(color($background, "500"), 0.2);
    }
    &.md-icon-button:hover {
      background-color: transparent;
    }
  }

  &.md-fab {
    border-radius: $button-fab-border-radius;
    background-color: color($accent);
    color: color($accent, 'contrast');

    md-icon {
      color: color($accent, 'contrast');
    }

    &:not([disabled]) {
      &:hover {
        background-color: color($accent);
      }
      &.md-focused {
        background-color: color($accent, 'A700');
      }
    }
  }

  &.md-primary {
    color: color($primary);
    &.md-raised,
    &.md-fab {
      color: color($primary, contrast);
      background-color: color($primary);

      md-icon {
        color: color($primary, 'contrast');
      }

      &:not([disabled]) {
        &:hover {
          background-color: color($primary);
        }
        &.md-focused {
          background-color: color($primary, "600");
        }
      }
    }
  }

  &.md-fab {
    border-radius: $button-fab-border-radius;
    background-color: color($accent);
    color: color($accent, contrast);
    &:not([disabled]) {
      &:hover {
        background-color: color($accent, "A700");
      }
      &.md-focused {
        background-color: color($accent, "A700");
      }
    }
  }

  &.md-raised {
    color: color($background, contrast);
    background-color: color($background, "50");
    &:not([disabled]) {
      .md-icon {
        color: color($background, 'contrast');
      }
      &:hover {
        background-color: color($background, "50");
      }
      &.md-focused {
        background-color: color($background, "200");
      }
    }
  }

  &.md-warn {
    color: color($warn);

    &.md-raised,
    &.md-fab {
      color: color($warn, 'contrast');
      background-color: color($warn);

      &:not([disabled]) {
        md-icon {
          color: color($warn, 'contrast');
        }
        &:hover {
          background-color: color($warn);
        }
        &.md-focused {
          background-color: color($warn, "700");
        }
      }
    }
  }

  &.md-accent {
    color: color($accent);

    &.md-raised,
    &.md-fab {
      color: color($accent, contrast);
      background-color: color($accent);

      &:not([disabled]) {
        md-icon {
          color: color($accent, 'contrast');
        }
        &:hover {
          background-color: color($accent);
        }
        &.md-focused {
          background-color: color($accent, "700");
        }
      }
    }
    &:not([disabled]) {
      md-icon {
        color: color($accent, 'contrast');
      }
    }
  }

  &[disabled],
  &.md-raised[disabled],
  &.md-fab[disabled] {
    color: color($foreground, '3');
    cursor: not-allowed;

    md-icon {
      color: color($foreground, '3');
    }
  }
  &.md-raised[disabled],
  &.md-fab[disabled] {
    background-color: color($foreground, '4');
  }
  &[disabled] {
    background-color: transparent;
  }
}
