md-checkbox {
  .md-ripple {
    color: color($accent, "600");
  }
  &.md-checked .md-ripple {
    color: color($background, "600");
  }

  .md-icon {
    border-color: color($foreground, "2");
  }
  &.md-checked .md-icon {
    background-color: rgba(color($accent), 0.87);
  }

  &.md-checked .md-icon:after {
    border-color: color($background, "200");
  }

  &:not([disabled]) {
    &.md-primary {
      .md-ripple {
        color: color($primary, "600");
      }
      &.md-checked .md-ripple {
        color: color($background, "600");
      }

      .md-icon {
        border-color: color($foreground, "2");
      }
      &.md-checked .md-icon {
        background-color: rgba(color($primary), 0.87);
      }

      &.md-checked .md-icon:after {
        border-color: color($background, "200");
      }
    }

    &.md-warn {
      .md-ripple {
        color: color($warn, "600");
      }

      .md-icon {
        border-color: color($foreground, "2");
      }
      &.md-checked .md-icon {
        background-color: rgba(color($warn), 0.87);
      }

      &.md-checked .md-icon:after {
        border-color: color($background, "200");
      }
    }

  }

  &[disabled] {
    .md-icon {
      border-color: color($foreground, "3");
    }

    &.md-checked .md-icon {
      background-color: color($foreground, "3");
    }
  }

}
