md-input-container {
  .md-input {
    @include input-placeholder-color(color($foreground, "3"));
    color: color($foreground, "1");
    border-color: color($foreground, "4");
    text-shadow: $foreground-shadow;
  }

  > md-icon {
    color: color($foreground, "1");
  }

  label,
  .md-placeholder {
    text-shadow: $foreground-shadow;
    color: color($foreground, "3");
  }

  &:not(.md-input-invalid) {
    &.md-input-has-value {
      label {
        color: color($foreground, "2");
      }
    }

    &.md-input-focused {
      .md-input {
        border-color: color($primary);
      }
      label {
        color: color($primary);
      }
      md-icon {
        color: color($primary);
      }

      &.md-accent {
        .md-input {
          border-color: color($accent);
        }
        label {
          color: color($accent);
        }
      }

      &.md-warn {
        .md-input {
          border-color: color($warn);
        }
        label {
          color: color($warn);
        }
      }
    }
  }

  .md-input-invalid {
    .md-input {
      border-color: color($warn);
    }
    label {
      color: color($warn);
    }
    // TODO: error messages
  }

  .md-input {
    &[disabled],
    [disabled] & {
      border-bottom-color: transparent;
      color: color($foreground, "3");
      background-image: linear-gradient(to right, color($foreground, "3") 0%, color($foreground, "3") 33%, transparent 0%);
      background-image: -ms-linear-gradient(left, transparent 0%, color($foreground, "3") 100%);
    }
  }
}
