md-radio-button {
  .md-off {
    border-color: color($foreground, '2');
  }

  .md-on {
    background-color: rgba(color($accent), 0.87);
  }
  &.md-checked .md-off {
    border-color: rgba(color($accent), 0.87);
  }
  &.md-checked .md-ink-ripple {
    color: rgba(color($accent), 0.87);
  }
  .md-container .md-ripple {
    color: color($accent, '600');
  }

  &:not([disabled]) {
    &.md-primary {
      .md-on {
        background-color: rgba(color($primary), 0.87);
      }
      &.md-checked .md-off {
        border-color: rgba(color($primary), 0.87);
      }
      &.md-checked .md-ink-ripple {
        color: rgba(color($primary), 0.87);
      }
      .md-container .md-ripple {
        color: color($primary, '600');
      }
    }

    &.md-warn {
      .md-on {
        background-color: rgba(color($warn), 0.87);
      }
      &.md-checked .md-off {
        border-color: rgba(color($warn), 0.87);
      }
      &.md-checked .md-ink-ripple {
        color: rgba(color($warn), 0.87);
      }
      .md-container .md-ripple {
        color: color($warn, '600');
      }
    }
  }

  &[disabled] {
    .md-container .md-off {
      border-color: color($foreground, '3');
    }
    .md-container .md-on {
      border-color: color($foreground, '3');
    }
  }
}

md-radio-group:focus:not(:empty) {
  border-color: color($foreground, '1');
}
