md-slider {

  &.md-warn {
    .md-track.md-track-fill {
      background-color: color($warn);
    }
    .md-thumb:after {
      border-color: color($warn);
      background-color: color($warn);
    }
    .md-sign {
      background-color: color($warn);

      &:after {
        border-top-color: color($warn);
      }
    }
    .md-thumb-text {
      color: color($warn, "contrast");
    }
  }

  &.md-primary {
    .md-track.md-track-fill {
      background-color: color($primary);
    }
    .md-thumb:after {
      border-color: color($primary);
      background-color: color($primary);
    }
    .md-sign {
      background-color: color($primary);

      &:after {
        border-top-color: color($primary);
      }
    }
    .md-thumb-text {
      color: color($primary, "contrast");
    }
  }

  .md-track {
    background-color: color($foreground, "3");
  }
  .md-track-ticks {
    background-color: color($foreground, "4");
  }
  .md-focus-thumb {
    background-color: color($foreground, "2");
  }
  .md-focus-ring {
    border-color: color($foreground, "4");
  }
  .md-disabled-thumb {
    border-color: color($background, "A100");
  }
  &.md-min .md-thumb:after {
    background-color: color($background, "A100");
  }

  .md-track.md-track-fill {
    background-color: color($accent);
  }
  .md-thumb:after {
    border-color: color($accent);
    background-color: color($accent);
  }
  .md-sign {
    background-color: color($accent);
    &:after {
      border-top-color: color($accent);
    }
  }
  .md-thumb-text {
    color: color($accent, "contrast");
  }

  &[disabled] {
    .md-thumb:after {
      border-color: color($foreground, "3");
    }
    &:not(.md-min) .md-thumb:after {
      background-color: color($foreground, "3");
    }
  }
}
