md-content {

  display: block;
  position: relative;
  overflow: auto;

  -webkit-overflow-scrolling: touch;

  &[md-scroll-y] {
    overflow-y: auto;
    overflow-x: hidden;
  }

  &[md-scroll-x] {
    overflow-x: auto;
    overflow-y: hidden;
  }

  &[md-scroll-xy] {
  }

  // For iOS allow disabling of momentum scrolling
  &.autoScroll {
    -webkit-overflow-scrolling: auto;
  }

  &.md-padding {
    padding: 8px;
  }
}

@media (min-width: $layout-breakpoint-sm) {
  md-content.md-padding {
    padding: 16px;
  }
}

/**
 * Theme specific
 */

