/*
ember-material-design

divider.styl

Author: michael

Created on 16/04/2015 by PhpStorm
*/
md-divider
  display: block
  border-top: 1px solid
  margin: 0
  &[md-inset]
    margin-left: ($baseline-grid * 10)
