/*
ember-material-design

icon.styl

Author: michael

Created on 16/04/2015 by PhpStorm
*/
md-icon
  margin: auto
  background-repeat: no-repeat no-repeat
  display: inline-block
  vertical-align: middle
  fill: currentcolor
  height: (3 * $baseline-grid)
  width: (3 * $baseline-grid)
  svg
    pointer-events: none
