<p class="md-body-2">Body copy with medium weight.</p>
{{#md-button}}Button{{/md-button}}
<p class="md-body-1">Regular body copy <small class="md-caption">with small text</small>.</p>
<span class="md-caption">Caption</span>