<div class="doc-content" layout="column">
    <div flex layout="column">

        <section class="demo-container">
            <demo-include class="md-whiteframe-z1 buttondemoBasicUsage">

                <div class="demo-content progressCircularDemo1">

                    <div class="display-content">

                        <div layout="column" layout-margin style="padding:25px;">

                            {{md-progress-linear md-mode="indeterminate"}}

                            {{md-progress-linear class="md-warn" md-mode="buffer" value=determinateValue md-buffer-value=determinateValue2}}

                            {{md-progress-linear class="md-accent" md-mode=mode value=determinateValue}}

                        </div>
                    </div>
                </div>
            </demo-include>
        </section>
    </div>
</div>
