<div class="doc-content" layout="column">
    <div flex layout="column" style="z-index: 1;">

        <div class="doc-description">
            <p>The Dynamic Tabs demo shows how internal tab views can be easily used.</p>
        </div>

        <section class="demo-container md-whiteframe-z1 {{showSourceClass}}">

            {{#md-toolbar classNames='demo-toolbar'}}
                <div class="md-toolbar-tools">
                    <span>Basic Usage</span>
                    <span flex></span>
                    {{#md-button action='showSource' layoutType="row" layout-align="center center" style='min-width: 72px;'}}
                        {{md-icon md-svg-src='images/icons/ic_visibility_24px.svg' style='margin: 0 4px 0 0;'}}
                        <span>Source</span>
                    {{/md-button}}
                </div>
            {{/md-toolbar}}

            {{code-content sourceFiles=sourceFiles showSource=showSource}}


            <demo-include class="whiteframedemoBasicUsage">
                <div class="demo-content ">



                    {{! BEGIN-SNIPPET whiteframe }}
                    <div layout="column" layout-fill style="padding-bottom: 32px;">

                        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
                            <span>.md-whiteframe-z1</span>
                        </md-whiteframe>

                        <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
                            <span>.md-whiteframe-z2</span>
                        </md-whiteframe>

                        <md-whiteframe class="md-whiteframe-z3" layout layout-align="center center">
                            <span>.md-whiteframe-z3</span>
                        </md-whiteframe>

                        <md-whiteframe class="md-whiteframe-z4" layout layout-align="center center">
                            <span>.md-whiteframe-z4</span>
                        </md-whiteframe>

                        <md-whiteframe class="md-whiteframe-z5" layout layout-align="center center">
                            <span>.md-whiteframe-z5</span>
                        </md-whiteframe>

                    </div>

                    {{! END-SNIPPET }}


                </div>


            </demo-include>


        </section>
    </div>
</div>

